@use "imports";
@import "palette";


body, html {
  font-family: 'Nunito', sans-serif;

    margin: 0;
    padding: 0;
    background: $white;
    overflow-x: hidden;
    max-height: 100vh;
}

.mdc-typography {
  font-family: 'Nunito', sans-serif !important;
}

html {
  overflow-y: hidden;
}

p, h1, h2, h3, h4, label {
  color: $gunmetal;
}

fevermap-landing, fevermap-stats, fevermap-data-entry {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.mb-4 {
  margin-bottom: 4rem;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.container {
  color: #484848;
  height: 100%;
  overflow-y: auto;
  margin-bottom: 3rem;
}

.language-switcher {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  z-index: 100;
  opacity: 1;
  transition: 0.5s linear;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.language-switcher > p {
  margin: 0 1rem 0 0;
  color: #484848;
  font-weight: bold;
}

.language-switcher > select {
  background: none;
  border: none;
  border-bottom: 1px solid #484848;
  padding: 0 2rem 0 0;
  color: #484848;
  outline: none;
  transition: 0.1s linear;
}

.language-switcher > select:hover {
  background: whitesmoke;
}

.dev-mode-banner {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 50%;
  z-index: 999; /* Always on top and visible */
  background: red;
  p {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
    color: #FFF;
    padding: 0.25rem;
  }
}

@media only screen and (max-width: 780px) {

  .container {
    margin-bottom: 1rem;
  }
}
